*{
    box-sizing: border-box;
}

.container{
    margin: auto;
    padding: auto;
    background-color: gray;
    width: 100%;
    height:99vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.bo {
    background-color: rgb(41, 38, 61);
    margin: 100px;
    padding: 40px;
    width: 300px;
    height: 350px;
    border: 1px solid red;
    border-radius: 8px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.div1{
    background-color: green;
    
}

.fi{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    /* background-color: red; */
    gap: 5px;
    
}

#h1{
    font-size: medium;
}

.h1{
    padding: 6px 8px;
    margin: 6px 8px;
    border-radius: 4px;

}

#but{
    background-color: rgb(2, 131, 251);
    border: transparent;
    color: white;
    font-size:large;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 1px transparent white;
    border-radius: 8px;
   
}