<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% load static %}
    <div class="w-full">
        <div class=" px-[6%] py-3 flex flex-1 border-b shadow items-center justify-between ">
            <div class=" flex flex-1 items-center">
                <h2 class="py-1 font-bold text-xl bg-teal-600 text-white px-2 rounded font-bold">TSM</h2>
                <div class="flex flex-col px-2">
                    <h2 class="font-bold">TeachSupport</h2>
                    <h2 class="text-normal">Admin Panel</h2>
                </div>
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout"
                    class="cursor-pointer py-1 bg-red-500 text-white px-2 rounded font-semibold">
            </form>
        </div>
        <div class="w-full flex flex-row ">
            <div class="w-2/12 h-[670px] pt-5 px-5 border-r top-0 sticky">
                <div class="flex flex-col w-full  ">
                    <a href="{% url 'admin_dashboard' %}"
                        class="py-2 px-[10%] font-semibold hover:bg-teal-600 hover:text-white rounded flex flex-1 gap-2 mt-3"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                        Dashboard</a>
                    <a href="{% url 'manage_customer' %}"
                        class="py-2 px-[10%] font-semibold hover:bg-teal-600 hover:text-white rounded flex flex-1 gap-2 mt-3"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                        </svg>
                        Customers</a>
                    <a href="{% url 'admin_agent' %}"
                        class="py-2 px-[10%] font-semibold hover:bg-teal-600 hover:text-white rounded flex flex-1 gap-2 mt-3"><img
                            src="{% static 'customer_support.png' %}" alt="" class="h-[25px] w-[25px]"> Agents</a>

                    <a href="{% url 'admin_ticket' %}"
                        class="py-2 px-[10%] font-semibold hover:bg-teal-600 hover:text-white rounded flex flex-1 gap-2 mt-3"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 7v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2Z" />
                            <path d="M9 5v14" />
                            <path d="M8.5 9h.01" />
                            <path d="M8.5 12h.01" />
                            <path d="M8.5 15h.01" />
                            <path d="M13 10h5" />
                            <path d="M13 14h5" />
                        </svg>Tickets</a>
                </div>
            </div>
            <div class="w-10/12 bg-gray-100">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>