{% extends "user/base.html" %}

{% load static %}

{% block content %}

<div class=" lg:items-center lg:justify-center lg:flex-row px-[10%] flex flex-col h-screen ">

   <div class=" my-10">
      <h2 class="mb-2 font-semibold text-indigo-600 text-2xl">Hi,{% if request.user.is_authenticated %}{{request.user.username}}{% else %}Guest{% endif %}</h2>
      <h2 class="text-5xl font-bold mb-4 ">Welcome to TechSupport</h2>
      <p class="text-lg mb-6 py-5">Your one-stop solution for all your technical support needs. We provide expert assistance
         for hardware, software, and network issues.</p>
      <a href="{% url 'user_dashboard' %}" class="bg-indigo-600 text-white px-6 py-3 rounded hover:bg-indigo-700">Get Started</a>

   </div>
   <div class=" ">
      <img src="{% static 'tsm_banner.png' %}" alt="Image" class="h-[100%] w-[100%]">
   </div>

</div>

{% endblock %}